@page 
@model Doctors_Appointments.Pages.patients.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Patients</h1>

<p>
    <a class="btn btn-outline-info" asp-page="Create">Add</a>
</p>

<form>
    <p>
        Patient Name: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].MobileNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Patient) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNumber)
            </td>
            <td>
                <a class="btn btn-outline-info" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-outline-info"asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a class="btn btn-outline-info" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
