@page
@model Doctors_Appointments.Pages.AppointmentReasons.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Appointment Service</h1>

<p>
    <a class="btn btn-outline-info" asp-page="Create">Add</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReasonForAppointment[0].Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReasonForAppointment[0].Charge)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ReasonForAppointment) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Charge)
            </td>
            <td>
                <a class="btn btn-outline-info" asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a class="btn btn-outline-info" asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a  class="btn btn-outline-info" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
